body {
    background-color: gainsboro;
    background-image: url("backround.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    padding-top: 50px;
}

header nav {
    background-color: rgb(136, 161, 140);
    position: fixed;
    top: 0;
    left: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    margin-top: 16px;
    padding: 0;
}

header nav ul li {
    padding: 5px;
}

header nav ul li a {
    color: #121212;
    text-decoration: none;
    /*transition: color 0.3s cubic-bezier(1,0,0,1);*/
    transition: font-size 0.3s cubic-bezier(1, 0, 0, 1);
}

header nav ul li a:hover {
    color: #b82424;
    font-size: 40px;
}

.circle {
    border-radius: 50%;
}

#image img {
    margin-top: 80px;
    margin-bottom: 80px;
}